            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form autocomplete="off">
                    <fieldset>
                        <input type="text" class="form-control" style="font-size:18px;"
                               placeholder="Enter ICD-10 CM Search Terms" id="icd10LookupSearchTerm">
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-4" style="padding-top:18px;" id="codeCount"></div>
